In [16]:
# Import dependencies
import psycopg2
import pandas as pd
import numpy as np
import sqlalchemy as sal
from sqlalchemy import create_engine
from config import db_password
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Superstore_Sales_Data"
engine = create_engine(db_string)
cleaned_superstore_df = pd.read_sql_query ('''
                        SELECT
                        *
                        FROM cleaned_superstore_data
                        ''', engine)
cleaned_superstore_df.head()

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,City,States,...,Discount_dollars,Profit,Shipping_Cost,Order_Priority,Years,Months,Discount_percentage,Per_Unit_Selling_Price,Cost_Price,Profit_Percentage
0,42433,AG-2011-2040,2011-01-01,2011-06-01,Standard Class,TB-11280,Toby Braunhardt,Consumer,Constantine,Constantine,...,0.0,106.140,35.46,Medium,2011,1,0.0,204.150,302.16,10614.0
1,22253,IN-2011-47883,2011-01-01,2011-08-01,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,0.1,36.036,9.72,Medium,2011,1,10.0,40.122,84.33,3603.6
2,48883,HU-2011-1220,2011-01-01,2011-05-01,Second Class,AT-735,Annie Thurman,Consumer,Budapest,Budapest,...,0.0,29.640,8.17,High,2011,1,0.0,16.530,36.48,2964.0
3,11731,IT-2011-3647632,2011-01-01,2011-05-01,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,...,0.5,-26.055,4.82,High,2011,1,50.0,14.955,70.92,-2605.5
4,22255,IN-2011-47883,2011-01-01,2011-08-01,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,0.1,37.770,4.70,Medium,2011,1,10.0,22.734,75.90,3777.0

In [17]:
# Find unique values for order_ID, customer_id, Product_id columns
df = cleaned_superstore_df
df[["Order_ID", "Customer_ID", "Product_ID"]].nunique()

Order_ID       25035
Customer_ID     1590
Product_ID     10292
dtype: int64

In [18]:
# Drop duplicate values from order_id, customer_id and product_id
df[["Order_ID", "Customer_ID", "Product_ID"]].drop_duplicates()

              Order_ID Customer_ID        Product_ID
0         AG-2011-2040    TB-11280  OFF-TEN-10000025
1        IN-2011-47883    JH-15985   OFF-SU-10000618
2         HU-2011-1220      AT-735  OFF-TEN-10001585
3      IT-2011-3647632    EM-14140   OFF-PA-10001492
4        IN-2011-47883    JH-15985   FUR-FU-10003447
...                ...         ...               ...
51285   CA-2014-115427    EB-13975   OFF-BI-10002103
51286     MO-2014-2560     LP-7095  OFF-WIL-10001069
51287   MX-2014-110527    CM-12190   OFF-LA-10004182
51288   MX-2014-114783    TD-20995   OFF-LA-10000413
51289   CA-2014-156720    JM-15580   OFF-FA-10003472

[51255 rows x 3 columns]

In [19]:
# Check columns
df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'City', 'States', 'Country',
       'Market', 'Region', 'Product_ID', 'Category', 'Sub_Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount_dollars', 'Profit',
       'Shipping_Cost', 'Order_Priority', 'Years', 'Months',
       'Discount_percentage', 'Per_Unit_Selling_Price', 'Cost_Price',
       'Profit_Percentage'],
      dtype='object')

In [20]:
# Drop rows where sub-category is equal to copiers and machines 
df[df['Sub_Category'].str.contains("Copiers") == False]
df[df['Sub_Category'].str.contains("Machines") == False]

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,City,States,...,Discount_dollars,Profit,Shipping_Cost,Order_Priority,Years,Months,Discount_percentage,Per_Unit_Selling_Price,Cost_Price,Profit_Percentage
0,42433,AG-2011-2040,2011-01-01,2011-06-01,Standard Class,TB-11280,Toby Braunhardt,Consumer,Constantine,Constantine,...,0.0,106.1400,35.46,Medium,2011,1,0.0,204.150,302.1600,10614.00
1,22253,IN-2011-47883,2011-01-01,2011-08-01,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,0.1,36.0360,9.72,Medium,2011,1,10.0,40.122,84.3300,3603.60
2,48883,HU-2011-1220,2011-01-01,2011-05-01,Second Class,AT-735,Annie Thurman,Consumer,Budapest,Budapest,...,0.0,29.6400,8.17,High,2011,1,0.0,16.530,36.4800,2964.00
3,11731,IT-2011-3647632,2011-01-01,2011-05-01,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,...,0.5,-26.0550,4.82,High,2011,1,50.0,14.955,70.9200,-2605.50
4,22255,IN-2011-47883,2011-01-01,2011-08-01,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,0.1,37.7700,4.70,Medium,2011,1,10.0,22.734,75.9000,3777.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,32593,CA-2014-115427,2014-12-31,2015-04-01,Standard Class,EB-13975,Erica Bern,Corporate,Fairfield,California,...,0.2,4.5188,0.89,Medium,2014,12,20.0,6.952,9.3852,451.88
51286,47594,MO-2014-2560,2014-12-31,2015-05-01,Standard Class,LP-7095,Liz Preis,Consumer,Agadir,Souss-Massa-Draâ,...,0.0,0.4200,0.49,Medium,2014,12,0.0,3.990,3.5700,42.00
51287,8857,MX-2014-110527,2014-12-31,2015-02-01,Second Class,CM-12190,Charlotte Melton,Consumer,Managua,Managua,...,0.0,12.3600,0.35,Medium,2014,12,0.0,8.800,14.0400,1236.00
51288,6852,MX-2014-114783,2014-12-31,2015-06-01,Standard Class,TD-20995,Tamara Dahlen,Consumer,Juárez,Chihuahua,...,0.0,0.5600,0.20,Medium,2014,12,0.0,7.120,6.5600,56.00
51289,36388,CA-2014-156720,2014-12-31,2015-04-01,Standard Class,JM-15580,Jill Matthias,Consumer,Loveland,Colorado,...,0.2,-0.6048,0.17,Medium,2014,12,20.0,1.008,3.6288,-60.48

In [21]:
# Define features and target
X = df[["Segment","Category","Sub_Category","Market", "Region","Shipping_Cost","Country","Discount_dollars","Profit","Quantity","Order_Priority", "Ship_Mode"]]
X = pd.get_dummies(X, columns = ["Segment", "Category", "Sub_Category","Market","Country","Region","Order_Priority","Ship_Mode"])
y = df["Sales"]

In [22]:
# Check the shape of feature
X.shape

(51290, 202)

In [23]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
from sklearn.preprocessing import StandardScaler
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

In [24]:
# importing module
from sklearn.linear_model import LinearRegression
# creating an object of LinearRegression class
LR = LinearRegression()
# fitting the training data
LR.fit(x_train_scaled,y_train)

LinearRegression()

In [25]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
r2_score(y_train, LR.predict(x_train_scaled))

0.6962997076582957

In [26]:
# Predict with scaled test data
y_prediction =  LR.predict(x_test_scaled)
y_prediction

array([ 657.20221752, -151.79778248,  -12.79778248, ...,  302.95543022,
        179.70221752,   25.20543022])

In [27]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error, mean_absolute_error
# predicting the accuracy score
score=r2_score(y_test,y_prediction)
print (score)

0.7360856190830591

In [28]:
# Calculate MSE (mean square error)
mean_absolute_error(y_test,y_prediction)

110.40431640658659