In [1]:
pip install imbalanced-learn==0.9.0

Requirement already satisfied: imbalanced-learn==0.9.0 in c:\users\administrator\anaconda3\envs\mlenv\lib\site-packages (0.9.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy>=1.14.6 in c:\users\administrator\anaconda3\envs\mlenv\lib\site-packages (from imbalanced-learn==0.9.0) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\administrator\anaconda3\envs\mlenv\lib\site-packages (from imbalanced-learn==0.9.0) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\administrator\anaconda3\envs\mlenv\lib\site-packages (from imbalanced-learn==0.9.0) (1.1.0)
Collecting scikit-learn>=1.0.1
  Using cached scikit_learn-1.0.2-cp37-cp37m-win_amd64.whl (7.1 MB)
Requirement already satisfied: scipy>=1.1.0 in c:\users\administrator\anaconda3\envs\mlenv\lib\site-packages (from imbalanced-learn==0.9.0) (1.7.3)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'c:\\users\\administrator\\anaconda3\\envs\\mlenv\\lib\\site-packages\\~~learn\\.libs\\vcomp140.dll'
Consider using the `--user` option or check the permissions.

    Found existing installation: scikit-learn 1.0
    Uninstalling scikit-learn-1.0:
      Successfully uninstalled scikit-learn-1.0

In [2]:
pip install scikit-learn==1.0

Collecting scikit-learn==1.0
  Using cached scikit_learn-1.0-cp37-cp37m-win_amd64.whl (7.1 MB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\administrator\anaconda3\envs\mlenv\lib\site-packages (from scikit-learn==1.0) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\administrator\anaconda3\envs\mlenv\lib\site-packages (from scikit-learn==1.0) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\administrator\anaconda3\envs\mlenv\lib\site-packages (from scikit-learn==1.0) (1.7.3)
Requirement already satisfied: numpy>=1.14.6 in c:\users\administrator\anaconda3\envs\mlenv\lib\site-packages (from scikit-learn==1.0) (1.21.5)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
Successfully installed scikit-learn-1.0
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
imbalanced-learn 0.9.0 requires scikit-learn>=1.0.1, but you have scikit-learn 1.0 which is incompatible.

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [5]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [6]:
# Files to load
file_to_load = "Resources/cleaned_us_data.csv"
# Read the CSV into a DataFrame
us_data_df = pd.read_csv(file_to_load)
us_data_df .head()

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,...,Quantity,Discount,Profit,Shipping Cost,Order Priority,Year,Month_Year,Discount_percentage,Selling Price Per Unit,Cost Price Per Unit
0,7,34662,CA-2011-115161,2011-01-02,2011-03-02,First Class,LC-17050,Liz Carlisle,Consumer,Mission Viejo,...,2,0.15,3.4196,54.64,High,2011,2011-01,15.0,145.333,143.6232
1,27,37844,CA-2011-113880,2011-01-03,2011-05-03,Standard Class,VF-21715,Vicky Freymann,Home Office,Elmhurst,...,6,0.30,-172.1172,70.05,High,2011,2011-01,30.0,105.686,134.3722
2,32,31454,CA-2011-104269,2011-01-03,2011-06-03,Second Class,DB-13060,Dave Brooks,Consumer,Seattle,...,2,0.20,51.4764,47.89,Medium,2011,2011-01,20.0,228.784,203.0458
3,34,39607,CA-2011-168312,2011-01-03,2011-07-03,Standard Class,GW-14605,Giulietta Weimer,Consumer,Houston,...,3,0.30,-43.0296,32.70,Medium,2011,2011-01,30.0,125.503,139.8462
4,36,39245,CA-2011-131009,2011-01-03,2011-05-03,Standard Class,SC-20380,Shahid Collister,Consumer,El Paso,...,6,0.30,0.0000,25.22,Medium,2011,2011-01,30.0,60.375,60.3750

In [7]:
us_data_df.columns

Index(['Unnamed: 0', 'Row ID', 'Order ID', 'Order Date', 'Ship Date',
       'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'City', 'State',
       'Country', 'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority', 'Year', 'Month_Year',
       'Discount_percentage', 'Selling Price Per Unit', 'Cost Price Per Unit'],
      dtype='object')

In [8]:
# Define features set
X = us_data_df[["Segment", "Profit",
            "Shipping Cost", "Sales","Ship Mode","Order Priority"]]
X = pd.get_dummies(X, columns= ["Segment","Ship Mode", "Order Priority"])
X.head()

,Profit,Shipping Cost,Sales,Segment_Consumer,Segment_Corporate,Segment_Home Office,Ship Mode_First Class,Ship Mode_Same Day,Ship Mode_Second Class,Ship Mode_Standard Class,Order Priority_Critical,Order Priority_High,Order Priority_Low,Order Priority_Medium
0,3.4196,54.64,290.666,1,0,0,1,0,0,0,0,1,0,0
1,-172.1172,70.05,634.116,0,0,1,0,0,0,1,0,1,0,0
2,51.4764,47.89,457.568,1,0,0,0,0,1,0,0,0,0,1
3,-43.0296,32.70,376.509,1,0,0,0,0,0,1,0,0,0,1
4,0.0000,25.22,362.250,1,0,0,0,0,0,1,0,0,0,1

In [9]:
# # Binary encoding using Pandas (multiple columns)
# X_encoded = pd.get_dummies(X, columns=[ "Category", "Sub-Category", "Year"])
# X_encoded.head()

In [10]:
# Define target vector
y = us_data_df["Quantity"].ravel()
y[:5]

array([2, 6, 2, 3, 6], dtype=int64)

In [11]:
# Split our data into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y_transformed, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

NameError: name 'y_transformed' is not defined

In [ ]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [ ]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [ ]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=5, random_state=78) 
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [ ]:
# The model creates predicted y values based on X values
predictions = rf_model.predict(X_test_scaled)
predictions.shape

In [ ]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm

In [ ]:
# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)
acc_score

In [ ]:
print("Classification Report")
print(classification_report(y_test, predictions))